@tailwind base;
@tailwind components;
@tailwind utilities;

    .table-of-contents {
      max-width: 80vw;
      margin: 0 auto;
      border: 1px solid #e2e8f0;
      border-radius: 0.75rem;
      overflow: hidden;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  
    .table-of-contents h2 {
      background-color: #4299e1;
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0;
      padding: 1rem;
    }
  
    .list-group-item {
      border-bottom: 1px solid #e2e8f0;
      transition: background-color 0.3s ease;
    }
  
    .list-group-item:last-child {
      border-bottom: none;
    }
  
    .list-group-item:hover {
      background-color: #edf2f7;
    }
    h2{
      font-size: 32px;
    }

        .tsk {
          display: flex;
    
        }
    
        .toggleDiv {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
                .loader-container {
                  position: fixed;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  text-align: center;
                  z-index: 9999;
                }